.error {
    border-width: 5px;
    border-left-style: solid;
    border-color: #7575e2;
    margin-bottom: 5%;
    padding: 15px;
  }
  
  .container {
    margin: 10%;
  }
  
  .back {
    color: #7575e2;
  }
  